{% extends "layout2.html" %}
{% block content %}
    <h1 style="padding:40px 40px;"</h1>
    <script>
    var source = new EventSource("/progress/{{ node }}/{{provider}}");
    source.onmessage = function(event) {
        if (event.data == 1) {
             var element =  document.getElementById('textChange').innerHTML = "Your instance is PENDING";
        } else {
            var element = document.getElementById('textChange').innerHTML = "Your instance is READY";
            source.close()
        }
	}
    </script>
    <div class="deploy-section" position="relative">
        <div>
            <div id="textChange">
                <h3 class="border-bottom mb-6">Your instance is PENDING.</h3>
            </div>
            <h4>Instance name: {{ name }}</h4>
            <h4>Instance IP: {{ ip_address }}</h4>
            <h5>
                <br>
                <br>
                Your instance has been provisioned.<br>
                To access your instance, ssh with the IP address provided.<br>
                <br>
                <br>
                <br>
                <br>
            </h5>
        </div>
    </div>
{% endblock content %}