{% extends "layout2.html" %}
{% block content %}
<div class="homepg">
    <h4 class="border-bottom mb-6" position="center">Welcome to Multi-cloud!</h4>
    <h4 padding="50px 10px"></h4>
    <p>Please choose your desired option. You can choose to pick your own resources or choose from a set of predefined options.</p>

        <div class="row">
            <div class="large-12 columns">
                <div class="wrapper">
                     <a class="btn btn--border btn--primary btn--animated" href="{{ url_for('custom') }}">Custom Options</a>
                </div>
            </div>
        </div>
      <h1 padding="40px 40px"></h1>
      <div class="row">
            <div class="large-12 columns">
                <div class="wrapper">
                    <a class="btn btn--border btn--primary btn--animated" href="{{ url_for('workload_defined') }}">Pre-defined Options</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}