{% extends "layout2.html" %}
{% block content %}
  <div style="text-align: center;" class="login">
        <div class="row">
            <div class="large-12 columns">
                <div class="wrapper">
                     <a class="btn btn--border btn--primary btn--animated" href="{{ url_for('custom') }}">Custom Options</a>
                </div>
            </div>
        </div>
      <h1 padding="40px 40px"></h1>
      <div class="row">
            <div class="large-12 columns">
                <div class="wrapper">
                    <a class="btn btn--border btn--primary btn--animated" href="{{ url_for('workload_defined') }}">Pre-defined Options</a>
                </div>
            </div>
        </div>
  </div>
{% endblock content %}