{% extends "layout2.html" %}
{% block content %}
    <h1 style="padding:40px 40px;"</h1>
    <h1 style="padding:40px 40px;"</h1>
    <form class="form" action="/custom" method="post">
        <div class="inputGroup">
            <input id="Confirm" name="options" type="radio" value="1"/>
            <label for="Confirm">
                <span class="border-bottom mb-6">Price: ${{ instance.price }}<br></span>
                 <small class="paragraph">
                    {% if instance_provider == "Amazon" %}
                        Type: {{ instance.id }}<br>
                    {% else %}
                        Type: {{ instance.name }}<br>
                    {% endif %}
                    Memory: {{ instance.ram }}<br>
                    Storage: {{ instance.disk }}<br>
                    Provider: {{ instance_provider }}<br>
                </small>
            </label>
            <input type="hidden" name="instance1" value="{{ instance }}">
            <input type="hidden" name="os1" value="{{ os }}">
        </div>
        {% if length > 1 %}
        <div class="inputGroup">
            <input id="Confirm2" name="options" type="radio" value="2"/>
            <label for="Confirm2">
                <span class="border-bottom mb-6">Price: ${{ top_three[1].price }}<br></span>
                 <small class="paragraph">
                    {% if types[1] == "Amazon" %}
                        Type: {{ top_three[1].id }}<br>
                    {% else %}
                        Type: {{ top_three[1].name }}<br>
                    {% endif %}
                        Memory: {{ top_three[1].ram }}<br>
                        Storage: {{ top_three[1].disk }}<br>
                        Provider: {{ types[1] }}<br>
                </small>
            </label>
            <input type="hidden" name="instance2" value="{{ top_three[1] }}">
            <input type="hidden" name="os2" value="{{ os }}">
         </div>
        {% endif %}
        {% if length == 3 %}
         <div class="inputGroup">
            <input id="Confirm3" name="options" type="radio" value="3"/>
            <label for="Confirm3">
                <span class="border-bottom mb-6">Price: ${{ top_three[2].price }}<br></span>
                <small class="paragraph">
                 {% if types[1] == "Amazon" %}
                    Type: {{ top_three[1].id }}<br>
                 {% else %}
                    Type: {{ top_three[1].name }}<br>
                 {% endif %}
                    Memory: {{ top_three[1].ram }}<br>
                    Storage: {{ top_three[1].disk }}<br>
                    Provider: {{ types[1] }}<br>
                </small>
            </label>
             <input type="hidden" name="instance3" value="{{ top_three[2] }}">
             <input type="hidden" name="os3" value="{{ os }}">
         </div>
        {% endif %}
        <div>
            <input position="align-right" class="button-submit2" type="submit" name="submit" value="DEPLOY">
        </div>
    </form>
{% endblock content %}