{% extends "layout.html" %}
{% block content %}
<form action="/custom" method="post">
    <div class="docScroller">
        <div class="page one">
          <div class="inside glowing-border1">
            <input id="Confirm" name="options" type="radio" value="1"/>
              <h1>Price: ${{ instance.price }}<br></h1>
                 <h2>
                    {% if instance_provider == "Amazon" %}
                        Type: {{ instance.id }}<br>
                    {% else %}
                        Type: {{ instance.name }}<br>
                    {% endif %}
                    Memory: {{ instance.ram }}<br>
                    Storage: {{ instance.disk }}<br>
                    Provider: {{ instance_provider }}<br>
                </h2>
            <input type="hidden" name="instance1" value="{{ instance }}">
            <input type="hidden" name="os1" value="{{ os }}">
          </div>
        </div>
        {% if length > 1 %}
        <div class="page two">
          <div class="inside glowing-border2">
            <input id="Confirm2" name="options" type="radio" value="2"/>
                <h1>Price: ${{ top_three[1].price }}<br></h1>
                 <h2>
                    {% if types[1] == "Amazon" %}
                        Type: {{ top_three[1].id }}<br>
                    {% else %}
                        Type: {{ top_three[1].name }}<br>
                    {% endif %}
                        Memory: {{ top_three[1].ram }}<br>
                        Storage: {{ top_three[1].disk }}<br>
                        Provider: {{ types[1] }}<br>
                </h2>
            <input type="hidden" name="instance2" value="{{ top_three[1] }}">
            <input type="hidden" name="os2" value="{{ os }}">
          </div>
        </div>
        {% endif %}
        {% if length == 3 %}
        <div class="page three">
          <div class="inside glowing-border3">
             <input id="Confirm3" name="options" type="radio" value="3"/>
                <h1>Price: ${{ top_three[2].price }}<br></h1>
                <h2>
                 {% if types[1] == "Amazon" %}
                    Type: {{ top_three[1].id }}<br>
                 {% else %}
                    Type: {{ top_three[1].name }}<br>
                 {% endif %}
                    Memory: {{ top_three[1].ram }}<br>
                    Storage: {{ top_three[1].disk }}<br>
                    Provider: {{ types[1] }}<br>
                </h2>
             <input type="hidden" name="instance3" value="{{ top_three[2] }}">
             <input type="hidden" name="os3" value="{{ os }}">
          </div>
        </div>
        {% endif %}
    </div>
    <div>
        <input position="align-right" class="button-submit2" type="submit" name="submit" value="DEPLOY">
    </div>
    <input type="hidden" name="instance_name" value="{{ instance_name }}">
</form>
{% endblock content %}
