{% extends "layout.html" %}
{% block content %}
    <h1 style="padding:40px 40px;"</h1>
    <h1 style="background-color:white; font-family:georgia; text-align:center; vertical-align: middle; padding:20px 10px;"> Workload-Defined</h1>
    <button class="button" type="button" style="margin:5px">Machine and Deep Learning</button>
    <button class="button" type="button" style="margin:5px">In-memory</button>
    <button class="button" type="button" style="margin:5px">General Purpose</button>


{% endblock content %}
