{% extends "layout2.html" %}
{% block content %}
    <h1 style="padding:80px;"></h1>
    <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-6"> Define Resources</legend>
                <div class="form-group">
                    {{ form.type.label(class="form-control-label") }}
                    {% if form.type.errors %}
                        {{ form.type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.os.errors %}
                                <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
        <div class="form-group">
                    {{ form.submit(class="button-submit") }}
        </div>
    </form>
{% endblock content %}
