body {
    background-image: url(tiny-squares.png);
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

/*Background color for nav bar*/
.bg-steel {
  background-color: white;
}

/*Nav bar faded grey colors*/
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

/*Nav bar hover colors*/
.site-header .navbar-nav .nav-link:hover {
  color: black;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: white;
  padding: 40px 25x;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: black;
}

a.article-title:hover {
  color: red;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: red;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.block {
    display: inline-block;
    width: 100%;
    border: none;
    background-color: white;
    padding: 14px 28px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
}

.block:hover {
    background-color: grey;
    border: 1px solid black;
}

.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.button {
    background-color: white;
    border-radius: 8px;
    border-color: black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

.button:hover {
    content: attr("Deep and Machine Learning")
    color: rgba(255,255,255,1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .4)
}

.button {
    width: 100%
}

.btn-options {
  border-radius: 5px;
  padding: 15px 55px;
  font-size: 20px;
  text-decoration: none;
  text-align: left;
  margin: 25px;
  color: black;
  position: relative;
  display: inline-block;
}

.btn-options:hover {
  background-color: white;
/*  Making button bigger on hover  */
  transform: scale(1.2) perspective(1px)
}


.btn-options:focus {
  background-color: white;
  transform: scale(1.2) perspective(1px)
}



