body{
  margin: 0;
  padding: 0;
  font-family:  Verdana, sans-serif;
}

body:before{
  content: '';
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url(tech.jpg);
  background-position: center center;
  background-repeat: round;
  background-attachment: fixed;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter:
}

a{
  text-decoration: none;
  color: #eee
}

li{
  list-style: none;
  float: left;
  margin-left: 50px;
  padding-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: 700;
}

.nav{
  float: right;
}

.container{
  width: 960px;
  margin: 0 auto;
}

.header{
  width: 100%;
  height: 100px;
  background: #FFFFFF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
}

.logo h1{
  float: left;
  font-family: monospace;
  text-transform: lowercase;
  font-size: 20px;
  color: #4F6272;
}

.login{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 500px;
  padding: 80px 40px;
  background: #E0FCFB;
}

.homepg{
  position: relative;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  padding: 80px 40px;
  background: #E0FCFB;
}

.login h2{
  margin: 0;
  padding: 0 0 20px;
  color: #4F6272;
  text-align: left;
}

.login p{
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #4F6272;
}

.login input{
  width: 100%;
  margin-bottom: 20px;
}

.login input[type=name],
.login input[type=email],
.login input[type=username],
.login input[type=password]{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 35px;
  color: #4F6272;
  font-size: 15px;
}
.login button[type=submit]{
  height: 30px;
  color: #fff;
  font-size: 15px;
  background: #BFC0C0;
  cursor: pointer;
  border-radius: 25px;
  border: none;
  outline: none;
  margin-top: 15%;
}

input[type=checkbox]{
  width: 20%;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

/*Background color for nav bar*/
.bg-steel {
  background-color: #E0FCFB;
}

/*Nav bar faded grey colors*/
.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

/*Nav bar hover colors*/
.site-header .navbar-nav .nav-link:hover {
  color: black;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  position: relative;
  background: #E0FCFB;
  padding: 40px 25x;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}



.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.btn {
  display: inline-block;
  position: relative;
  top: 50%;
  left: 21%;
  letter-spacing: 1.2px;
  padding: 12px 32px;
  height:60px;
  width:250px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn--primary {
  color: lightslategray;
}

.btn--border {
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  box-sizing: border-box;
}

.btn--animated {
  transition-property: color;
  transition-duration: 0.5s;
}
.btn--animated.btn--border.btn--primary {
  border: 1px solid lightslategray;
}
.btn--animated:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: lightslategray;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  z-index: -1;
}
.btn--animated:hover {
  color: white;
}
.btn--animated:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
}

/*Submit button*/
.button-submit{
  background:#4F6272;
  color:#fff;
  border:none;
  position:relative;
  height:60px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.button-submit:hover{
  background: #E0FCFB;
  color: #4F6272;
  border: 2px solid #4F6272;
}
.button-submit:before,button-submit:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #E0FCFB;
  transition:400ms ease all;
}
.button-submit:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.button-submit:hover:before,button-submit:hover:after{
  width:100%;
  transition:800ms ease all;
}

.inputGroup {
  background-color: #E0FCFB;
  display: inline-block;
  position: relative;
  margin: 20px 10px;
}

.inputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  text-size: 10;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
}
.inputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #5562eb;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale3d(1, 1, 1);
          transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}
.inputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}
.inputGroup input:checked ~ label {
  color: #fff;
}
.inputGroup input:checked ~ label:before {
  -webkit-transform: translate(-50%, -50%) scale3d(56, 56, 1);
          transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}
.inputGroup input:checked ~ label:after {
  background-color: #54E0C7;
  border-color: #54E0C7;
}
.inputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.form {
  padding: 0 16px;
  margin: 50px auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  position: relative;
}

.paragraph {
  text-size: 10;
}

body {
  background-color: #D1D7DC;
  font-family: 'Fira Sans', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

code {
  background-color: #9AA3AC;
  padding: 0 8px;
}

/*Deploy button*/
.button-submit2{
  background: #E0FCFB;
  color: #4F6272;
  border:2px solid #4F6272;
  position: relative;
  height:60px;
  float: right;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
}
.button-submit2:hover{
  background: #4F6272;
  color: #E0FCFB;
  border: 2px solid #E0FCFB;
}
.button-submit2:before,button-submit2:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #4F6272;
  transition:400ms ease all;
}
.button-submit2:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.button-submit2:hover:before,button-submit2:hover:after{
  width:100%;
  transition:800ms ease all;
}

.deploy-section {
  position: relative;
  background: #E0FCFB;
  padding: 100px 100x;
  width: auto;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}
